[data-cellid="grid_footcell_field"][data-page="dbo_Preferencias_list"][data-cellid="grid_footcell_field"][data-page="dbo_Preferencias_list"][data-cellid="grid_footcell_field"][data-page="dbo_Preferencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="dbo_Preferencias_list"][data-cellid="grid_footcell_field1"][data-page="dbo_Preferencias_list"][data-cellid="grid_footcell_field1"][data-page="dbo_Preferencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="dbo_Preferencias_list"][data-cellid="grid_headcell_icons"][data-page="dbo_Preferencias_list"][data-cellid="grid_headcell_icons"][data-page="dbo_Preferencias_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="dbo_Preferencias_list"][data-cellid="grid_cell_icons"][data-page="dbo_Preferencias_list"][data-cellid="grid_cell_icons"][data-page="dbo_Preferencias_list"] {
  white-space: nowrap;
}


